/**
 *
 * Type
 *
 * @author Takuto Yanagida
 * @version 2021-12-26
 *
 */


@mixin main {
	&[data-nc-link-image] {
		display       : inline-flex;
		vertical-align: middle;
	}
	&[href ^= 'http']:empty::before {  // Show URL instead of empty text
		content   : attr(href);
		word-break: break-all;
		display   : inline;
	}
	&[data-nc-link-simple='url'] {
		word-wrap: break-word;
	}
}

@mixin property-direction {
	--nc-link-arrow-char: '\2794';
}

@mixin direction {
	&[data-nc-link-anchor]::after,
	&[data-nc-link-external]::after {
		display            : inline-block;
		margin-inline-start: 0.15em;
		width              : 0.85em;
		height             : 1em;

		line-height: 1em;
	}
	&[data-nc-link-anchor = 'up']::after { content: var(--nc-link-arrow-char); transform: rotate(-90deg); }
	&[data-nc-link-anchor = '']::after   { content: var(--nc-link-arrow-char); transform: rotate( 90deg); }
	&[data-nc-link-external]::after      { content: var(--nc-link-arrow-char); transform: rotate(-45deg); }
}

@mixin property-file {
	--nc-link-file-color             : Canvas;
	--nc-link-file-background        : LinkText;
	--nc-link-file-visited-background: VisitedText;
}

@mixin file {
	&[data-nc-link-file]::after {
		content       : attr(data-nc-link-file);
		text-transform: uppercase;

		display            : inline-block;
		margin-inline-start: 0.5em;

		padding      : 0.2em 0.5em 0.125em;
		border-radius: 0.35em;
		font-size    : 75%;
		line-height  : 1;

		color     : var(--nc-link-file-color);
		background: var(--nc-link-file-background);

		// For canceling 'direction'
		width    : unset;
		height   : unset;
		transform: none;
	}
	&[data-nc-link-file]:visited::after {
		background: var(--nc-link-file-visited-background);
	}
}
