/**
 *
 * Link Style (SCSS)
 *
 * @author Takuto Yanagida
 * @version 2021-11-10
 *
 */


@mixin style-link-type {
	a:where(:not([class])) {
		&[data-nc-link-image] {
			display: inline-flex;
			vertical-align: middle;
		}
		&[href ^= 'http']:empty::before {  // Show URL instead of empty text
			content   : attr(href);
			word-break: break-all;
			display   : inline;
		}
		&[data-nc-link-simple='url'] {
			word-wrap: break-word;
		}

		&[data-nc-link-anchor]::after,
		&[data-nc-link-external]::after {
			display    : inline-block;
			margin-left: 0.25em;
			line-height: 1em;
			width      : 0.85em;
			height     : 1em;
		}
		&[data-nc-link-anchor = 'up']::after { content: '\2794'; transform: rotate(-90deg); }
		&[data-nc-link-anchor = '']::after   { content: '\2794'; transform: rotate( 90deg); }
		&[data-nc-link-external]::after      { content: '\2794'; transform: rotate(-45deg); }

		&[data-nc-link-file]::after {
			content       : attr(data-nc-link-file);
			text-transform: uppercase;

			display      : inline-block;
			margin-left  : 0.5em;
			font-size    : 75%;
			padding      : 0.2em 0.5em 0.125em;
			border-radius: 0.35em;
			line-height  : 1;

			color           : #fff;
			background-color: #777;
		}
	}
}
