/**
 *
 * Type
 *
 * @author Takuto Yanagida
 * @version 2021-12-27
 *
 */


@mixin main {
	&[data-nc-link-image] {
		display: contents;
		img {
			vertical-align: middle;
		}
	}
	&[href ^= 'http']:empty::before {  // Show URL instead of empty text
		content   : attr(href);
		word-break: break-all;
		display   : inline;
	}
	&[data-nc-link-simple='url'] {
		word-wrap: break-word;
	}
}

@mixin property-direction {
	--nc-link-direction-color: currentColor;

	// --nc-link-direction-path-anchor  : polygon(40% 6%, 40% 62%, 20% 60%, 50% 95%, 80% 60%, 60% 62%, 60% 6%);
	--nc-link-direction-path-anchor  : polygon(43% 6%, 43% 70%, 25% 67%, 50% 95%, 75% 67%, 57% 70%, 57% 6%);
	// --nc-link-direction-path-external: polygon(15% 53%, 15% 85%, 47% 85%, 47% 65%, 69% 43%, 82% 60%, 85% 15%, 40% 18%, 57% 31%, 35% 53%);
	// --nc-link-direction-path-external: polygon(15% 57%, 15% 85%, 43% 85%, 43% 57%,
	// 48% 52%, 48% 64%,
	// 69% 43%, 82% 60%, 85% 15%, 40% 18%, 57% 31%,
	// 36% 52%, 48% 52%,
	// 43% 57%);
	// --nc-link-direction-path-external: polygon(15% 57%, 15% 85%, 43% 85%, 43% 69%,
	// 47% 65%, 48% 64%,
	// 69% 43%, 82% 60%, 85% 15%, 40% 18%, 57% 31%,
	// 35% 53%, 47% 65%,
	// 43% 69%, 31% 57%);
	// --nc-link-direction-path-external: polygon(15% 57%, 15% 85%, 43% 85%, 43% 69%, 31% 69%,
	// 36% 64%, 48% 64%,
	// 69% 43%, 82% 60%, 85% 15%, 40% 18%, 57% 31%,
	// 36% 52%, 36% 64%,
	// 31% 69%, 31% 57%);
	// --nc-link-direction-path-external: polygon(15% 60%, 15% 85%, 40% 85%, 40% 70%, 30% 70%,
	// 35% 65%, 45% 65%,
	// 72% 38%, 82% 52%, 85% 15%, 48% 18%, 62% 28%,
	// 35% 55%, 35% 65%,
	// 30% 70%, 30% 60%);
	--nc-link-direction-path-external: polygon(15% 55%, 15% 85%, 45% 85%, 45% 65%, 35% 65%,
	40% 60%, 50% 60%,
	72% 38%, 82% 52%, 85% 15%, 48% 18%, 62% 28%,
	40% 50%, 40% 60%,
	35% 65%, 35% 55%);
}

@mixin direction {
	&[data-nc-link-anchor]::after,
	&[data-nc-link-external]::after {
		content: '';
		display: inline-block;
		width  : 1em;
		height : 1em;

		line-height   : 1;
		vertical-align: middle;

		background-color: var(--nc-link-direction-color);
		color-adjust    : exact;  // For print
	}
	&[data-nc-link-anchor]::after        { clip-path: var(--nc-link-direction-path-anchor); }
	&[data-nc-link-anchor = 'up']::after { transform: scaleY(-1); }
	&[data-nc-link-external]::after      { clip-path: var(--nc-link-direction-path-external); }
}

@mixin property-file {
	--nc-link-file-color     : Canvas;
	--nc-link-file-background: currentColor;
}

@mixin file {
	&[data-nc-link-file]::after {
		content       : attr(data-nc-link-file);
		text-transform: uppercase;

		display            : inline-block;
		margin-inline-start: 0.5em;

		padding      : 0.2em 0.5em 0.125em;
		border-radius: 0.35em;
		font-size    : 75%;
		line-height  : 1;

		-webkit-text-fill-color: var(--nc-link-file-color);
		background-color       : var(--nc-link-file-background);
		color-adjust           : exact;  // For print

		// For canceling 'direction'
		width    : unset;
		height   : unset;
		clip-path: none;
		transform: none;
	}
}
